*{
    margin:0;
     padding:0;
}

body{
    font-family: "Roboto", sans-serif;
   
}
h2{

    font-size:32px;
    padding:5px;
    background-color:rgb(167, 69, 112);
    color: rgb(255,255,255);
}
nav{
    padding-bottom:5px;
    background-color:rgb(167, 69, 112);
}
nav ul{
    display:flex;
    justify-content:right;
  
}
nav ul li{
    width:10%;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;

      
}
nav li a{
text-decoration: none;
color:rgb(255, 255, 255);
}

main{
    margin: 10px;
     background-color: rgb(229, 243, 245);
     min-height:calc(75vh);
}

footer{
     background-color:rgb(167, 69, 112);
       min-height:5vh;
       padding:5px;
       color: rgb(255,255,255);

}

/* T2 page section */
#t2-section {
    background-color: rgb(10, 10, 30);
    min-height: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

/* Stars */
.star {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, white 0%, yellow 50%, transparent 100%);
    border-radius: 50%;
    pointer-events: none;
}

/* Connect lines  */
#line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#message-box {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: lightgreen;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    pointer-events: none;
}