body {
  margin: 0;
  background-color: #fff7fb;
  font-family: 'Nunito', sans-serif;
  background-image: url("../static/img/paper-texture.png");
  background-size: cover;
}

header {
  text-align: center;
  padding: 20px;
  width: 80%;
  background-color: #dde9ff;
  border: 4px solid #a3c7f7;
  border-radius: 14px;
  margin: 20px auto 40px auto;
  box-shadow: 6px 6px 0px #bec7f9;
}

header h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 42px;
}

main {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

section {
  background-color: #c6daff;
  width: 40%;
  border-radius: 12px;
  border: 3px dashed #4aaef0;
  padding-bottom: 10px;
  box-shadow: 4px 4px 0px #8ea3ff;
}

section h4 {
  background-color: #fff5ba;
  margin: 0;
  padding: 6px;
  font-family: 'Handlee', cursive;
  border-bottom: 2px dotted #e6d26e;
  text-align: center;
}

section article {
  background-color: #dfdbff;
  color: #00509b;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
}

.home-button img {
  width: 100px;
  height: 120px;
  cursor: pointer;
  transition: transform 0.2s;
  position: fixed;
  top: 15px;
  left: 15px;
}

.home-button img:hover {
  transform: scale(1.2);
}

#bee {
  position: absolute;
  width: 50px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s linear;
}