#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    font-size: 4em !important;
    margin-bottom: 10px;
}

#score {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border: 4px solid #333;
    border-radius: 16px;
    background-color: #f2f3ef;
}

#slime-grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-gap: 20px;
}

.slime-hole {
    width: 120px;
    height: 120px;
    border-radius: 40px;
    border: 5px solid #302f2e;
    background-color: #dbdacd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slime {
    width: 80px;
    height: 80px;
    background-color: #89c973;
    border-radius: 50px;
    border: 4px solid #395c37;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 26px;
    user-select: none;
    transition: transform 0.1s ease;
}

.slime:active {
    transform: scale(0.85);
}

#restart-btn {
    background-color: #e4ac50;
    color: #913d00;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 2em;
    font-weight: 500;
    box-shadow: 0 2px 0 #0000005b;
    border-top: 1px solid #ffffff5a;
    font-family: futura-pt-condensed, sans-serif;
    cursor: pointer;
}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}